<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#colabora">Colabora</a></li>
            <li><a href="#ayuda">Ayuda</a></li>
            <li><a href="#acerca">Acerca</a></li>
        </ul>
        <h3 class="text-muted hidden-xs">Prueba</h3>
        <h3 class="visible-xs-block"><br></h3>
    </div>
<div class="row">
    <div class="jumbotron">
        <h1>Test with ...</h1>
        <p class="lead">yeoman, grunt, backbone, requirejs all with the better practices that I can ;)</p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">

        </div>
    </div>
</div>
    <div class="footer">
        <p>iPotaje</p>
    </div>

</div>